NEXT_PUBLIC_BASE_URL=http://localhost:3000 

SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

GOOGLE_CLIENT_ID=000000000000-0123456789abcdefghijklmnopqrstuv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ABCDEF-0123456789abcdefghiABCDEFGHI
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google
GOOGLE_TOKEN_PATH=google-token.json
GOOGLE_EMAIL=owner@gmail.com

ADMIN_EMAILS=admin1@healthcarecreators.co.uk,admin2@healthcarecreators.co.uk

NEXT_PUBLIC_CONTACT_EMAIL=hello@healthcarecreators.co.uk
NEXT_PUBLIC_INSTAGRAM_LINK=https://www.instagram.com/healthcarecreatorscollective
NEXT_PUBLIC_TIKTOK_LINK=https://www.tiktok.com/@healthcarecreators
NEXT_PUBLIC_LINKEDIN_LINK=https://www.linkedin.com/company/the-healthcare-creators-collective
