@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --animate-infinite-scroll: infinite-scroll 40s linear infinite;
  --animate-float: float 6s ease-in-out infinite;
  --animate-shimmer: shimmer 3s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-25deg);
    }

    50% {
      transform: translateX(150%) skewX(-25deg);
    }

    100% {
      transform: translateX(150%) skewX(-25deg);
    }
  }

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

@layer base {
  body {
    @apply text-[#171717] selection:bg-[#5D45FD] selection:text-white bg-white;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}